.power-bx{ 
    margin-right: 0.5rem;   
	font-size: 18px; 
} 

.hib-btn, .sus-btn, .reb-btn, .exi-btn, .pow-btn{   
    padding: 0 0.1rem;
}

.pow-btn{
	margin-right: 0.4rem;
}

.pow-btn:hover{    
	color: #F2828B; 
}

.sus-btn:hover{
	color: #EBCB8B;
}

.reb-btn:hover{
	color: #81C995;
}

.hib-btn:hover{
	color: #82AAFF; 
}

.exi-btn:hover{
	color: #73daca; 
} 