
$Background: #111111; 
$Foreground: #FFFAF1; 


$Black: #161616; 
$Gray: #232323; 
$Alt-Gray: #3b3b3b;
$Lightgray: #d3d3d3; 
$Blue: #b7c6e7;
$Lightblue: #e5edff; 
$LightGreen: #DBFFD6; 
$Green: #BFFCC6;  
$Red: #ED7179; 

$Magenta: #FA9DEA;
$Magenta-Alt:#FCC2F2;

$Cyan: #97FAFA;
$Cyan-Alt: #DCFFFB;
$Orange: #FFD6A5;
$Yellow: #FFFFB5; 
